@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans';
}
nav {
    display: flex;
}
nav li,
h1,
h3 {
    font-family: 'Raleway';
}
.icon {
    width: 250px;
    height: 250px;
}